@use '@shared/styles' as s;

@mixin form-legend {
  color: s.$c-grey-primary;
  text-transform: capitalize;

  @include s.t-h4;
}

@mixin input-label {
  @include s.t-body-text;

  color: s.$c-grey-secondary;
  text-transform: capitalize;
  margin-top: 10px;
}

@mixin form-column {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  flex-direction: column;
  border: none;
  width: 100%;
}
