@use '@shared/styles' as s;

.container {
  scrollbar-width: none;
  display: flex;
  flex-direction: column;

  @include s.page-layout;
}

.complete {
  @include s.t-h3;

  margin-top: 5vh;
  margin-bottom: 5vh;
}

.h1 {
  @include s.t-h1;

  align-self: center;
}
